* {
  box-sizing: border-box;
}

.group{
  height: 100vh;
  width: 100vw;
  background-image: url(/assets/kane.jpg);
  &__header{
    height:100px;
    
    display: flex;
    justify-content: space-between;
    line-height: 100px;
    margin-bottom: 20px;
    &-left{
      font-size:40px;
      margin-left:50px;
      .toppage-btn{
        text-decoration: none;
        color: white;
      }
    }
    &-right{
      font-size:30px;
      margin-right:50px;
      .name-edit{
        text-decoration: none;
        color:white;
      }
    }
  }
  &__name{
    width:calc(100vw - 300px);
    height:calc(100vh - 600px);
    margin:0 auto;
    color: white;
    &-list{
      margin:30px 0 ;
      font-size:25px;
      text-align: center;
      &-new{
        font-size: 15px;
        text-decoration:none;
        color: white;
      }
    }

    &-name{
      font-size: 20px;
      text-align: center;
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      
    }
    .group-btn{
      margin-left:30px;
      text-decoration: none;
      padding:0 10px;
      display: block;
      margin-bottom: 20px;
      color: white;
    }
    .pagination{
      display: flex;
      margin: 0 auto;
      li{
        margin-left: 10px;
      }
      a{
        color:white;
        text-decoration: none;
      }
    }
  }
  &__seach{
    
      color:white;
      text-align: center;
      margin-top: 20px;
      &-name{
        font-size: 25px;
      }
      &-seach{
        font-size: 20px;
        margin-top: 10px;
      }
      &-list{
        margin-top: 30px;
        font-size: 20px;
        margin-left:20px;
        &-btn{
          color: white;
          text-decoration: none;
        }
      }
  }
}